/*
 * Eslint config file
 * Documentation: https://eslint.org/docs/user-guide/configuring/
 * Install the Eslint extension before using this feature.
 */
{
	"extends": "@condorhero/eslint-config-typescript"
}
